<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/elemerp.css">
</head>
<body>
<div class="container">
    <div class="main col-md-offset-2 col-md-12 col-xs-offset-2 col-xs-12">
        <div class="user-info">
            <div>
                <image class="avatar" src="https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKqRqhgW5cJ3xh7xmPnKzobhXHOdAgX4v6YYaVaiazUNdaKFFlEqLMhicZlXAtDbwL8oP3yIh2mN9fw/132"></image>
            </div>
            <div>
{{/*                <div class="username"><span>{{username}}</span></div>*/}}
{{/*                <div class="balance"><span>余额：{{balance}}</span></div>*/}}
{{/*                <div class="integral"><span>积分：{{integral}}</span></div>*/}}
            </div>
        </div>
        <div class="col-xs-6 phone-input">
            <form>
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control" id="inputPhone" placeholder="饿了么平台绑定手机号">
                </div>
                <div class="form-group col-xs-6">
                    <input type="email" class="form-control" id="captcha" placeholder="验证码">
                </div>
                <button type="submit" class="btn btn-default">领取</button>
            </form>
        </div>
    </div>
    <div class="explain">
        <!--活动规则说明-->
        规则说明：xxx

    </div>
</div>
</body>
</html>